extends layout

block scripts
    script(src='/javascripts/index_bundle.js')

block content
    img(src="/javascripts/loadingPages/loading.gif" style="z-index: -1; position: absolute; top: 39%; left: 46%; width: 10%;")
    div(id='homepage' style="opacity: 0; height: 100%")
    div(id='main')
