extends layout

block scripts
    script(src='/javascripts/index_bundle.js')

block content
    img(src="/javascripts/loadingPages/loading.gif" style="position: absolute; top: 39%; left: 46%; width: 10%;")
    div(id='homepage' style="display: none")
    div(id='main')
