extends layout

block scripts
    script(src='/javascripts/index_bundle.js')

block content
    img(id='loading-img' src="/javascripts/loadingPages/loading.gif" style="opacity: 1; background-color: #F5FAFA; position: absolute; padding: 21% 45%; width: 10%;")
    div(id='homepage' style="opacity: 0; height: 100%")
    div(id='main')
