doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head_scripts
        meta(property='og:title', content='© Hank.')
        | &#x9;
        meta(property='og:image', content='https://ibb.co/fL0pyG')
        | &#x9;
        meta(property='og:description', content='My personal website')
        | &#x9;

    body
        block content
