doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head_scripts

    body
        block content
        block scripts
            scripts(src='/javascripts/dists/index_bundle.js')