@import "./tippy.css";
@import "./slick-theme.css";
@import "./slick.css";
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Saira');

body
    padding: 50px
    font: 14px "Saira", Helvetica, Arial, sans-serif

a
    color: #00B7FF

$background-color-code: #F5FAFA;
$modal-color-code: #F5FAFA;

.main-content
    background-color: #B7AFA3
    position: fixed
    left: 20%
    top: 0
    height: 100%
    width: 80%

    .story
        .title
            position: fixed
            top: 35%
            left: 27%
            color: #F5FAFA
            font-size: 31px

        .text
            position: fixed
            top: 40%
            left: 27%
            color: #F5FAFA

.separator
    width: 80%
    border-style: ridge

.image-slide-container
    margin: 7% 0% 7% 0%

.image-slide
    box-shadow: inset -4px -4px 5px 1px #DBA632
    padding: 2px
    border-radius: 9%
    width: 50%
    margin-bottom: 0
    margin-left: 24%

.image-slider
    width: 40%
    position: fixed
    left: 40%
    top: 4%

.left-nav
    left: 0%;
    top: 0%;
    padding-top: 4%;
    position: fixed;
    background-color: #F5FAFA;
    width: 20%;
    height: 100%;
    z-index: 1;

.clock
    font-family: 'Orbitron', sans-serif;
    top: 95%;
    position: fixed;
    left: 6.5%;

.profile-container
    left: 0px
    top: 0px
    margin-bottom: 14%;
    text-align: center;
    padding: 1%

.profile-image
    border-radius: 50%
    width: 50%
    overflow: hidden
    background-color: #6D929B
    padding: 6px
