@import "./tippy.css";
@import "./slick-theme.css";
@import "./slick.css";

body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF

$background-color-code: #F5FAFA;
$modal-color-code: #F5FAFA;

.main-content
    background-color: #B7AFA3
    position: fixed
    left: 20%
    top: 0
    height: 100%
    width: 80%

.separator
    width: 80%
    border-style: ridge

.image-slide-container
    margin: 7% 0% 7% 0%

.image-slide
    box-shadow: inset -4px -4px 5px 1px #DBA632
    padding: 2px
    border-radius: 9%
    width: 50%
    margin-bottom: 0
    margin-left: 24%

.image-slider
    width: 40%
    position: fixed
    left: 40%
    top: 4%

.left-nav
    left: 0%;
    top: 0%;
    padding-top: 4%;
    position: fixed;
    background-color: #F5FAFA;
    width: 20%;
    height: 100%;
    z-index: 1;

.profile-container
    left: 0px
    top: 0px
    margin-bottom: 14%;
    text-align: center;
    padding: 1%

.profile-image
    border-radius: 50%
    width: 50%
    overflow: hidden
    background-color: #6D929B
    padding: 6px